<div style="text-align: center;margin: 10px 10px 10px 10px;">


  <form id="form1" class="layui-form  layui-form-pane" action="/u/SaveForward" method="POST">
    <div class="layui-form-item">
      <label class="layui-form-label">名称</label>
      <div class="layui-input-inline">
        <input type="text" name="name" value="{{.entity.Name}}" lay-verify="required" autocomplete="off" placeholder="取个名称，用以区分" class="layui-input">
        <input type="hidden" name="id" value="{{.entity.Id}}">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">本地监听地址</label>
      <div class="layui-input-inline">
        <input type="text" name="addr" value="{{.entity.Addr}}" placeholder="默认监听所有地址" autocomplete="off" class="layui-input">
        
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">本地监听端口</label>
      <div class="layui-input-inline">
        <input type="text" name="port" value="{{if gt .entity.Port 0}}{{.entity.Port}}{{end}}" lay-verify="required|number" placeholder="端口号，例如8080" autocomplete="off" class="layui-input">
      </div>
    </div>
      <div class="layui-form-item">
          <label class="layui-form-label">工作位置</label>
          <div class="layui-input-inline">
              <select name="End">
                  <option value="0" {{if eq .entity.End 0}}selected="selected"{{end}}>OVS端</option>
                  <option value="1" {{if eq .entity.End 1}}selected="selected"{{end}}>控制器端</option>
              </select>
          </div>
      </div>
    <div class="layui-form-item">
      <label class="layui-form-label">工作模式</label>
      <div class="layui-input-inline">
          <select name="fType">
              <option value="0" {{if eq .entity.FType 0}}selected="selected"{{end}}>透明转发</option>
              <option value="1" {{if eq .entity.FType 1}}selected="selected"{{end}}>AES加密转发</option>
          </select>
      </div>
  </div>
      <div class="layui-form-item">
          <label class="layui-form-label">启用TLS</label>
          <div class="layui-input-inline">
              <select name="Tls">
                  <option value="0" {{if eq .entity.Tls 0}}selected="selected"{{end}}>否</option>
                  <option value="1" {{if eq .entity.Tls 1}}selected="selected"{{end}}>是</option>
              </select>
          </div>
      </div>
    <div class="layui-form-item">
      <label class="layui-form-label">转发到地址</label>
      <div class="layui-input-inline">
        <input type="text" name="targetAddr" value="{{.entity.TargetAddr}}" lay-verify="required" placeholder="目标地址" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">转发到端口</label>
      <div class="layui-input-inline">
        <input type="text" name="targetPort" value="{{if gt .entity.TargetPort 0}}{{.entity.TargetPort}}{{end}}" lay-verify="required|number" placeholder="目标端口号，例如3306" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">KDC地址</label>
      <div class="layui-input-inline">
        <input type="text" name="KDC" value="{{.entity.Kdc}}" placeholder="DKC的网络IP地址" autocomplete="off" class="layui-input">

      </div>
    </div>
    <div class="layui-form-item">
        <pre class="layui-code" style="text-align: left;">
 *工作模式
            **加密通信（OVS端）
            监听： OVS设置的controller地址和端口
            转发到: 控制器端的中转地址和端口
            **加密通信（控制器端）
            监听： OVS端设置的转发到的地址和端口
            转发到： 控制器所监听的地址和端口
        </pre> 
    </div>
  </form>

</div>

<script type="text/javascript">
  $(document).ready(function () {

    layui.use(["form", "element"], function () {
      var form = layui.form();

      form.render('select');
    });


  });

  function submitForm(index) {
    var postData = $("#form1").serializeArray();
    $.post($("#form1").attr("action"), postData, function (json) {
      //var data = $.parseJSON(json);
      if (json.Code == 0) {
        //成功
        layer.alert("保存成功");
        refreshGrid();
        layer.close(index);

      } else {
        //
        layer.alert("失败了：" + json.Msg, { icon: 2 });
      }
    }, "json");
  }

</script>