<ul class="layui-nav" lay-filter="">
  <li class="layui-nav-item layui-this"><a href="javascript:void(0);" onclick="loadFrameContent('/u/ForwardList');">源加密转发列表</a></li>
  <li class="layui-nav-item"><a href="javascript:void(0);" onclick="loadFrameContent('/u/Kerberos');">身份认证和密钥分配</a></li>
  <li class="layui-nav-item"><a href="javascript:void(0);" onclick="loadFrameContent('/u/OvsHash');">流表下发记录</a></li>
  <li class="layui-nav-item"><a href="javascript:void(0);" onclick="loadFrameContent('/u/OvsCheck');">流表完整性校检</a></li>
  <li class="layui-nav-item"><a href="javascript:void(0);" onclick="loadFrameContent('/theme/login.html');">流表冲突信息查看</a></li>

  <li class="layui-nav-item">
    <a href="javascript:void(0);">其它</a>
    <dl class="layui-nav-child">
      <dd><a href="javascript:void(0);" onclick="loadFrameContent('/u/changePwd');">修改登录密码</a></dd>
      <dd><a href="/logout">退出控制台</a></dd>
      <dd><a href="javascript:void(0);" onclick="layer.alert('网元数据保护系统 V1.2 -- Cyber');">关于系统</a></dd>
    </dl>
  </li>
</ul>